aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
cairocffi==1.7.1
CairoSVG==2.9.0
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.2
colorama==0.4.6
contourpy==1.3.3
crispy-bootstrap5==2026.3
cryptography==46.0.7
cssselect2==0.9.0
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.5
django-appconf==1.2.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-filter==25.1
django-ranged-response==0.2.0
django-redis==6.0.0
django-simple-captcha==0.6.3
django_compressor==4.6.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.15
fonttools==4.61.1
freetype-py==2.5.1
frozenlist==1.8.0
graphviz==0.21
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
inflection==0.5.1
jiter==0.14.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
kombu==5.6.2
lxml==6.1.0
matplotlib==3.10.8
moviepy==2.2.1
msgpack==1.1.2
multidict==6.7.1
mysql-connector-python==9.6.0
numpy==2.4.0
openai==2.36.0
packaging==25.0
pandas==2.3.3
pillow==11.3.0
proglog==0.1.12
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2==2.9.11
psycopg2-binary==2.9.12
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydot==4.0.1
PyJWT==2.12.1
PyMuPDF==1.27.2.3
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytimeparse2==1.7.1
pytz==2025.2
PyYAML==6.0.3
razorpay==2.0.1
rcssmin==1.2.2
redis==7.4.0
referencing==0.37.0
reportlab==4.4.10
requests==2.33.0
rjsmin==1.2.5
rlPyCairo==0.4.0
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.16.3
simplejson==3.20.2
six==1.17.0
sniffio==1.3.1
sqlglot==30.1.0
sqlite3-to-mysql==2.5.6
sqlparse==0.5.5
stripe==15.1.0
svglib==1.6.0
tabulate==0.10.0
threadpoolctl==3.6.0
tinycss2==1.5.1
tqdm==4.67.3
twilio==9.10.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
webencodings==0.5.1
whitenoise==6.12.0
yarl==1.23.0
